<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.app.unity"
    android:versionCode="1"
    android:versionName="1.0">

	<!-- to request oculus overlay keyboard -->
	<uses-feature android:name ="oculus.software.overlay_keyboard" android:required="false"/>

	<!-- audio output -->
	<uses-feature android:name ="android.hardware.audio.output" android:required="true"/>
</manifest>